*
!README.md
!Dockerfile
!server/**
!shared/**
!web/**

.git
.github
.azure
**/.env
**/.env.*
**/*.bicepparam
**/*.bicep
**/*.xml
.backups
.baseline
.qa
.shots
.snapshots
.srv.*
test
tools
node_modules
